.Tabs{
    display: flex;
    flex-direction: column;
}
.TabBar{
    display: flex;
    flex-direction: row;
    background-color: red;
    width: max-content;
    /* justify-content: space-between; */
    /* justify-content: space-around;
    justify-content: space-evenly; */
}